# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# Data files (large raw files — don't commit to GitHub)
datasets/
~$*.xlsx

# Model files
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp